*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

html, body{
    margin:0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    box-sizing:border-box;
    margin:0;
    width:100%;
    background-color:#7a1501;
    text-align:center;
    font-family:'Lato' sans-serif;

}

header{
    margin:0 auto;
    width:100%;
    height:26rem;  
    display:block;
    background-color:white; 
    z-index:-4;
    position:relative;
    
}

.nav{
    
    height:4rem;
    display:block;
    margin:0 auto;
    width:60%;
    transform:translateX(3em);
    font-size:2em;
}

.logo{
    
    margin:0 auto;
    padding:1rem;
    display:block;
    float:left;

}

#imag{
    margin:0 auto;
    display:block;
    transform:translateX(25em);
    height:5em;
    width:13em;
    font-size:1.4em;
    
  
}

ul{
    list-style-type:none;
    display:block;
    margin:0 auto;
    font-size:4rem
    
}

#img{
    
 z-index:-2;
 position:relative;
 width:10%;
    
}

#own{
    margin:0 auto;
    display:block;
    z-index:-2;
    position:inherit;
    width:100%;
    text-align:left;
    transform:translateY(-33em);
    
}

li{
    margin:0 auto;
    display:inline-block;
    font-size:1.5rem;
}

a{
    color:black;
    text-decoration:none;
    font-weight:600;
    text-transform:uppercase;
    
}

a:hover{
    color:#7a1501;
/*    background-color:#f9da0c;*/
    transition:background 2s;
    
}
#active_about a{
    color:#7a1501;
}
#active > a{
    
    display:block;
    height:5rem;
    width:7.5rem;
    background-color:#f9da0c;
    margin-left:70rem;
    line-height:4rem;
    transform:translateY(13em);
    font-size:16px;
    color:#7a1501;
    z-index:4;
    position:absolute;
 
}
#aboutImage{
    margin:0 auto;
    width:30rem;
    height:25rem;
    float:left;
    
}

h1{
    margin:0 auto;
    float:right;
    font-size:4em;
    width:38rem;
    transform:translateY(8rem);
}
#main_section{
    
    margin-left:35em;
    display:block;
    color:#7a1501;
    padding:4em;
    font-size:4.3px;
    width:80%;
    text-align:center;
    height:auto;
    line-height:6.5em;
    text-transform:uppercase;
    position:absolute;
    
}

/*background cover for owl here*/

#cover{
    
    width:100%;
    margin:0 auto;
    height:13rem;
    color:#7a1501;
     z-index:-3;
    position:relativeS;
    /*transform:translateY(-);*/
    background-color:#7a1501; 

}

section{
    display:block;
    text-align:center;
    margin:0 auto;
    width:100%;
    height:80rem;
    
    
}
#columnLeft{
    margin:0 auto;
    width:calc(85%/2);
    float:left;
    padding:6em;
    text-align:left;
    display:block;
    font-size:1em;
}
#columnRight{
    margin:0 auto;
    text-align:left;
    width:calc(85%/2);
    height:auto;
    padding:6em;
    float:right;
    font-size:1em;
    display:block;
}


/*MAIN TEXT STARTS HERE*/


h2{
    
    color:white;
    font-size:2rem;
    font-weight:800;
    
}
p{
    margin:0 auto;
    display:block;
    color:white;
    font-size:2.8em;
}
#p{
    margin:0 auto;
    display:block;
    color:white;
    font-size:1em;
}
h3>#ask{
    
    font-size:4rem;
}
footer{
    width:100%;
    margin:0 auto;
    height:3rem;
    background-color:#f9da0c; 
    transform:translateY(100em);
    
}
em{
    color:#7a1501;
    font-size:2rem;
    text-transform:uppercase
}



/*COMMENCE MEDIA */


@media only screen
    and (min-width:768px) and (max-width:830px){
        {margin:0 8px;}
        body{
            width:calc(100%/.2);
        }
        }
        
        
        }
        
        img{
            
            max-width:calc(100%/1.3px);
            height:auto;
            transform: translate(520px,20px);

        }
	    img{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }
@media only screen and (max-width:551){
    img{display:none;

    }
    float:left;
    visibility: hidden;
    opacity:40%;
    nav{display:none;
    visibility: hidden;}
}
        

	    footer h1 bottom first one second two third three{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }
	    footer h1 bottom first one second two third three{
                
        width:calc(97%/2);
        height:auto; 
        transform:translateY(calc 3rem);
    }