/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */



html, body{
    margin: 0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    
    box-sizing: border-box;
    margin:0;
    width:100%;
    height:100%;
    background-color:white;
    text-align:center;
    font-family:'Lato' sans-serif;
    background-image:url(http://i.imgur.com/YZOVy0w.png);
    background-position:top right;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin:0;
    padding:0;       

}

#header{
    margin:0 auto;
    width:100%;
    height:15rem; 
    float:left;
    display:block;
    background-color:#7a1501;
 
}

#paragraph{
    
    display:block;
    margin:0 auto;
    font-size:15px;
    padding:3em;
    transform:translateY(7em);
    width:73%
    
}

.logo{
    
    display:block;
    margin:1rem;
    padding-left:25rem;
    width:15rem;
    height:5rem;
    float:left;
    transform:translateY(-7.3em);
    
    
}

#imag{
    
    margin:0 auto;
    display:block;
    text-align:left;  
    transform:translateX(-8.5rem);
}

.nav{
    
    height:5rem;
    display:block;
    margin:0 auto;
    padding:.5em;
    text-align:center;
    line-height:3em;
    transform:translateX(13em);
  
}

ul{
    list-style-type:none;
    display:block;
    margin:0 auto;
    font-size:4rem;
    
}

li{
    margin:0 auto;
    display:inline-block;
    font-size:1.5rem;
    padding:1em;
    font-weight:600;
}

a{
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
}

a:hover{
    color:#f9da0c;
/*    background-color:#f9da0c;*/
    transition:background 2s;
    
}

.active>a{
    color:#7a1501;
    padding:1.3rem;
    background-color:#f9da0c;
}

.active_page a{
    color:#f9da0c;
}

.h1{
    color:white;
    margin:0 auto;
    float:left;
    width:40%;
    margin-right:60em;
    transform:translateY(6rem);
}

/*paragraph starts here before the table*/
#on_click a{
    
    color:rgb(249, 218, 12);

}
#on_click{
    
    transform:translateY(8em);
    width:60%;
    height:2.5em;
    margin:0 auto;
    line-height:1em;
    font-size:2em;
    border-radius:3.3px;
    background-color:#7a1501;
    display:block;
    padding:1.1em;
    transform:translateY(-13em);

    /*margin:0 auto;*/
    /*width:60%;*/
    /*height:auto;*/
    /*margin:0 auto;*/
    /*display:block;*/
    /*padding:0;*/
    /*color:#fff;*/
    /*line-height:1em;*/
    /*transform:translateY(9em);*/
    /*background-color:#7a1501;*/
    /*text-align:center;*/
    
}
#click{
    
color:#000;
font-size:1.5em;
height:auto;
transform:translateY(-4em);
    
}

#top-button{
    
    width:80%;
    height:14em;
    margin:0 auto;
    display:block;
    color:yellow;
    background-color:red;
    text-align:center;
    
}

#geekwise{
    width:92%;
    margin:0 auto;
    display:block;
    text-align:center;
    font-weight:400;
    line-height:1.4em;
    font-size:1.8em;
    text-align:left;
    transform:translateY(4.5em);
    
}

#align_left{
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    padding:3em;
    text-align:center;
    line-height:1.4em;
    font-size:1.8rem;
    text-align:left;
    transform:translateX(3.4em);
    
}

#menu-item-162{
    
   
    background-color:#f9da0c;
    
}

#menu-item-162 a{
    
    color:#7a1501;
    
}

#menu-item-163 a{
    
    color:#f9da0c;
    
}

.btn{
    width:5em;
    padding:1em;
    font-weight:bold;
    background-color:#f9da0c;
}

#topic{
    padding-left:1.4em;
}

span p{
    
    margin:0 auto;
    width:83rem;
    height:3rem;
    padding-right:2rem;
    font-size:1.5rem;
    color:white;
    text-transform:uppercase;
    float:left;
    transform:translateY(5rem);
}

/*old css*/

table{
    
    margin:0 auto;
    display:block;
    font-size:1.3rem;
    width:70%;
    /*transform:translateY(-23rem)*/
}
.fa{
    visibility:hidden;
}
.sig{
    background-color:#f9da0c;
    
    text-transform:uppercase;
}
.rtsign{
    padding:10px;
    color:black;
}
.rtsign:hover{  
    color:black;
}
p{
    position:relative;
    top:-40px;
    padding: 50px;
}
.top_table{
    border-bottom:1px solid black;
}

.work{
        
    padding:20px;
    font-size:14px;
}

section{
    padding:80px;
    width:80%;
}
footer{
    margin-left:450px;
    float:left;
    padding:20px;
    height:15px;
    transform:translateY(-40em);
   

}
.button{
    color:black;
    font-size:1.3rem;
    margin:0 auto;
    width:25rem;
    padding:2rem;
    background-color:#f9da0c;
    text-align:center;
    text-transform:uppercase
    background-color:#f9da0c;
    
}