/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */



html, body{
    
    margin:0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    
    box-sizing:border-box;
    margin:0;
    width:100%;
    height:100%;
    background-color:white;
    text-align:center;
    font-family:sans-serif;
}

header{
    
    margin:0 auto;
    width:100%;
    height:15rem;  
    display:block;
    background-color:#7a1501;
 
}
#text_menu{
    
    display:block;
    margin:0 auto;
    transform:translateY(-18em);
    
    
}

.logo{
    
    display:block;
    margin:1rem;
    padding-left:25rem;
    width:15rem;
    height:5rem;
    float:left;
    transform:translateX(-11em);
    
}

.info-box{
    
    display:block;
    margin:0 auto;
    
}

.nav ul{
    
    display:inline-block;
    margin:0 auto;
    
}
.nav ul li{
    
    display:inline-block;
    
    
}
.nav ul li a{
    
    color:#fff;
    text-decoration:none;
    font-size:16px;
    padding:.5em;
    font-weight:600;
}

.section{
    float:left;
}

.item{
    
    line-height:4.5rem;

}
.sign{
    background-color:#f9da0c;
}

.item a{
    
    color:#fff;
    text-decoration:none;
    font-size:1.4rem;
    font-weight:600;
    text-transform:uppercase;
    
}

.item a:hover{
    
    color:#f9da0c;
    
}

#active a{
    
    color:#f9da0c;
    
}

.section{
    
     text-align:left;
     
  
}

.heading{
    
     font-weight:bold;
     display:block;
     text-transform:uppercase;
     font-size:2em;
     float:left;
     border-bottom:1px solid #afafaf;
     padding-bottom:8px;
     margin-bottom:8px;
    
}

.sign a{
    color:#7a1501;
    background-color:#f9da0c;
}

.sign a:hover{
    color:#7a1501;
}

span p{
    
    margin:0 auto;
    width:83rem;
    height:3rem;
    padding-right:2rem;
    font-size: 1.5rem;
    color:white;
    text-transform:uppercase;
    float:left;
    transform:translateY(5rem);
}

p > em{
    
    float:right;
}

/*HEADER ENDS HERE*/

/*RESOLVE ISSUE WITH WIDTH, main text was at 100% reduced to 72%*/

#call{
    margin:0 auto;
    width:36%;
    font-size:13.5px;
    float:left;
}

main{
    
    width:72%;
    height:100%;
    display:block;
    margin:0 auto;
    
}

.first{
    
    display:block;
    margin:0 auto;
    height: auto;
    
}

p{
    
    font-size:1.2rem;
    float:left;
    text-align:left;

}

h2{
    
    width:100%;
    text-align:left;
    text-transform:uppercase;
    font-size:1.4rem;
    border-bottom:solid .03rem;
}

.yellow-button{
    
    color:black;
    background-color:#f9da0c;
    margin:0 auto;
    padding:1.5em;
    display:block;
    width:30%;
    font-weight:700;
    text-decoration:none;
    text-align:center;
    
}

#second{
    
    display:block;
    margin:0 auto;
    height:auto;
    
}
.address{
    
    display:block;
    margin:0 auto;
    transform:translateY(-1em) !important;
    
}

#h2{
    
    width:100%;
    text-align:left;
    text-transform:uppercase;
    font-size:1.4rem;
    border-bottom:solid .03rem;  
}

p{
    width:100%;
    text-align:left;
}

b{
    font-size:1.2rem;
    float:left;
    text-align:left;
}

#third{
    
    width:auto;
    height:52rem;
    
}

#last{
    
    float:left;
    width:100%;
    height:auto;
    border-bottom:solid .03rem;
    text-align:left;
    text-transform:uppercase;
    font-size:1.4rem;
    border-bottom:solid .03rem;   
}

b{
    
    font-size:1.2rem;
    float:left;
    text-align:left;
    
}

.button a{
    
    color:black;
    margin:0 auto;
    width:20%;
    padding:1rem;
    text-transform:uppercase;
    font-size:1.8em;
    background-color:yellow;
    
}

.button:hover{
    
    color:white;
    
}

.fa{
    
    float:right;
    width:3rem;
    height:4rem;
    visibility:hidden;
}

.fa-bars{
    
    width:3rem;
    height:3rem;
    
}

.list{
    
    float:right;
    text-align:right;
    visibility:hidden;
}
footer{
    
    margin:0 auto;
    width:25%;
    height:50%;
    font-size:2rem;
    background-color:yellow;
    transform:translateY(1em);
}

h3{
    color:black;
    margin:0 auto;
    height:3em;
    text-transform:uppercase
}
h3:hover{
    color:black;
}

/*OWL LOGO IMAGE HERE*/


#owl img{
    float:right;
    position:relative;

}


/*COMMENCE MEDIA HERE*/


@media only screen and (max-width:1021px){
    .parent{
        margin-left:300px;
        
    }
    checkbox{
        
    }
    #bars{
        visibility:hidden;
    }
}
@media only screen and (max-width:900px){
    .parent{
        display:none;
    }
    .logo{
        visibility:hidden;
    }
    .fa{
        width:12rem;
        height: 5rem;
        visibility:visible;
        color:gray;
    }
  
    .list{
    width:200px;
    height:auto;
    font-size:28px;
    border: lightgrey solid .1rem;
    border-radius:.5rem;
    padding-left:10px;
    padding-right:10px;
    
        
    }
    
    nav{
        display:none;
    }
    
    topbar{
        display:none;
    }
    
    #bars{
        display:none;
    }
    
    #bars:checked~#topbar{
    display:block;
    visibility:visible;
   
}

    #ch{
        
        display:none;
    }
   
    li{
        text-align:left;
        width:100px;
        color:black;
        
    }
    
    nav{
        
        visibility:hidden;
    }

    .lines{
        margin-left:250px;
    }

#owl{
    
    margin:0 auto;
    display:block;
    float:right;
    
}