/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
html, body{
    margin: 0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    
    box-sizing: border-box;
    margin:0;
    width:100%;
    height:100%;
    background-color:white;
    text-align:center;
    font-family:sans-serif;
    background-image:url(http://i.imgur.com/YZOVy0w.png);
    background-position:top right;
    background-repeat:no-repeat;
    background-attachment:fixed;
    margin:0;
    padding:0;       

}

#header{
    margin:0 auto;
    width:100%;
    height:15rem; 
    float:left;
    display:block;
    background-color:#7a1501;
 
}

#paragraph{
    
    display:block;
    margin:0 auto;
    font-size:13px;
    width:75%
    
}

.logo{
    
    display:block;
    margin:1rem;
    padding-left:25rem;
    width:15rem;
    height:5rem;
    float:left;
    transform:translateY(-7.3em);
    
    
}
#imag{
    
    margin:0 auto;
    display:block;
    text-align:left;  
    transform:translateX(-8.5rem);
}

.nav{
    
    height:5rem;
    display:block;
    margin:0 auto;
    padding:.5em;
    text-align:center;
    line-height:3em;
    transform:translateX(13em);
  
}

ul{
    list-style-type:none;
    display:block;
    margin:0 auto;
    font-size:4rem;
    
}

li{
    margin:0 auto;
    display:inline-block;
    font-size:1.5rem;
    padding:1em;
    font-weight:600;
}

a{
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
}

a:hover{
    color:#f9da0c;
/*    background-color:#f9da0c;*/
    transition:background 2s;
    
}
.active>a{
    color:#7a1501;
    padding:1.3rem;
    background-color:#f9da0c;
}

.active_page a{
    color:#f9da0c;
}
